<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    namespace 的根目录是src/main/java    -->
<mapper namespace="com.kevinqiu.lotterysystem.dao.mapper.PrizeMapper">
    
    <select id="selectByIds" resultType="com.kevinqiu.lotterysystem.dao.dataobject.PrizeInfoDO">
        select id from prize
        <if test="items != null">
            where id in
            <foreach collection="items" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
    
</mapper>